body{
    background-color: var(--beige);
    padding: 20px;
}

.grille-indicateurs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    .carte-indicateur{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blanc);
        border-radius: 20px;
        padding: 20px;
    }
}