body{
    background-color: var(--beige);
    padding: 30px;
}

.grille-indicateurs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    .carte-indicateur{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blanc);
        border-radius: 20px;
        padding: 20px;
    }
}

.top3conducteurs{
    margin: 20px 0;
}

.trajetVedette{
    margin-bottom: 20px;
}

.tableauRepartition{
    margin-bottom: 20px;

    table{
        border-collapse: collapse;
        min-width: 400px;
        width: auto;
        border: 1px solid black;

        thead tr{
            background-color: var(--gris);
            color: var(--beige);
            text-align: left;
            tbody{
                border:1px solid #ddd;
            }
        }
    }
}
