*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--beige);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{

}

form{
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background-color: var(--blanc);
    border-radius: 20px;
    margin-top: 10px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);

    
    label{
        display: block;
        margin-bottom: 6px;
    }
    select{
        width: 100%;
        margin-bottom: 20px;
        padding: 16px 0;
        border-radius: 15px;
    }
    input{
        width: 100%;
        margin-bottom: 20px;
        padding: 16px 0;
        border-radius: 15px;
        outline: none;
    }
}